.qa-Btn {
    color: $secondary-color;
    padding: 1.1rem 1.5rem;

    &--link {
        background-color: $third-color;
        border-radius: $br-rad-l;
    }

    &--search {
        border: none;
        background-color: transparent;
        cursor: pointer;
        & .qa-SearchBar__container--icon {
            width: clamp(25px, 2.611vw, 47px);
            height: clamp(25px, 2.611vw, 47px);
            &  * {
                color: $secondary-color;
            }
        }
    }

    &--uploadFile {
        background-color: $primary-color;
        border: 2px solid $primary-color;
        border-radius: $br-rad-m;
        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }

    &--sendForm {
        background: $third-color;
        background-image: $color-gradient-primary;
        @include btn-in-form;
    }

    &--leave {
        background: red;
        background-image: $color-gradient-leave;
        @include btn-in-form;
    }
}

@media screen and (max-width: 1100px) {
    .qa-Btn {
        padding: .8rem 1.7rem;
    }
}