.qa-BasicHero__container--accountBgi {
    background-image: url("../images/hero_monCompte.jpg");
}

.qa-Account__container {
    margin: $m-l 15.6% 0;

    &--subTitle {
        text-align: center;
    }
}

.qa-AccountForm {
    &__container {
        margin-top: $m-m;

        &--requiredField {
            @include form-required-field;
        }
    }

    &__group {
        @include form-disposition;

        & .qa-Form__group{
            &:nth-child(1) {
                margin-top: 0;
            }
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }

    &__buttonGroup {
        display: flex;
        justify-content: center;
        margin-top: $m-m;
        
        &--btn:not(:last-child) {
            margin-right: 10%;
        }
    }
}


@media screen and (max-width: 700px) {
    .qa-Account__container {
        margin-top: $m-s;
    }
    
    .qa-AccountForm {
        &__container {
            margin-top: $m-xs;
        }
    
        &__group .qa-Form__group:nth-child(2){
            margin-top: $m-xs;
        }
    
        &__buttonGroup {
            margin-top: $m-xs;
        }
    }
}

@media screen and (max-width: 500px) {
    .qa-AccountForm__buttonGroup {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &--btn:not(:last-child) {
            margin-right: 0;
            margin-bottom: 2em;
        }
    }
}