.qa-WatchInformation__container {
    margin: $m-l $m-m;
}

.qa-WatchDetail__container {
    display: flex;
    justify-content: space-between;

    &--image {
        width: 36%;
        height: 514px;
        margin-right: 6.5%;
        object-fit: cover;
        border-radius: $br-rad-l;
        box-shadow: 0 3px 6px $shadow-color;
    }
}

.qa-WatchFeature {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 27%;
        margin-bottom: $m-m;
        &:nth-child(4) {
            margin-bottom: 0;
        }
        &:nth-child(5) {
            margin-bottom: 0;
        }
        &:nth-child(6) {
            margin-bottom: 0;
        }
        &--name {
            font-size: clamp(14px, 1.389vw, 25px);
            font-variation-settings: "wght" 700;
            margin-bottom: 1.2em;
        }
        &--text {
            font-size: clamp(12px, 1.222vw, 22px);
        }
    }
}

.qa-CardDescription {
    &__container {
        @include card(100%, $br-rad-l, $secondary-color);
        margin-top: $m-m;
        box-shadow: 0 3px 6px $shadow-color;
    }

    &__header {
        @include flex-center;
        flex-direction: column;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: 1.5% 3.5%;
        box-shadow: 0 3px 6px $shadow-color;

        &--model {
            color: $primary-color;
        }
    }

    &__body {
        padding: 0 3.5% 1.5%;
        &--description {
            width: 82.5%;
            text-align: center;
            margin: $m-m auto;
        }
    }
}


@media screen and (max-width: 1300px) {
    .qa-WatchDetail__container--image {
        height: 390px;
    }
}

@media screen and (max-width: 1060px) {
    .qa-WatchDetail__container--image {
        height: 330px;
    }

    .qa-CardDescription__header {
        padding: 3.5%;
    }
}


@media screen and (max-width: 850px) {
    .qa-WatchDetail__container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        &--image {
            width: 70%;
            height: auto;
            margin-right: 0;
            margin-bottom: $m-xs;
        }
    }

    .qa-WatchFeature__group {
        margin-bottom: $my-s;
    }

    .qa-CardDescription {
        &__header {
            padding: 5%;
        }

        &__body {
            padding: 0 4.4% 10.5%;
            &--description {
                margin: $my-s auto;
            }
        }
    }
}


@media screen and (max-width: 650px) {
    .qa-WatchInformation__container {
        margin: $m-s $my-m;
    }

    .qa-WatchDetail__container--image {
        width: 100%;
        height: 227px;
    }

    .qa-CardDescription__container {
        margin-top: $m-xs;
    }
}


@media screen and (max-width: 410px) {
    .qa-WatchFeature__group {
        width: 48%;
    }
}