.qa-AlertSuccessMessage__container {
    /* margin-bottom: $m-m;
    background-color: lighten($third-color, 35%);
    border-radius: $br-rad-m;
    padding: 1em 1.5em;

    &--message {
        color: darken($third-color, 15%);
    } */
    @include alertMessage($third-color);
}

@media screen and (max-width: 700px) {
    .qa-AlertSuccessMessage__container {
        margin-bottom: $m-xs;
    }
}