@font-face {
    font-family: "MateSC";
    src: url("../fonts/MateSC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype supports variations"),
         url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype-variations");
}