* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "MateSC";
}

p, a, span, div, button, input, input::placeholder, textarea {
    font-family: "MavenPro";
}

h1 {
    font-size: clamp(26px, 4.444vw, 80px);
    color: $secondary-color;
}

h2 {
    font-size: clamp(24px, 2.778vw, 50px);
    color: $primary-color;
}

h3 {
    font-size: clamp(18px, 1.944vw, 35px);
    color: $primary-color;
}

p, a, span, div {
    font-size: clamp(12px, 1.389vw, 25px);
}

button {
    font-size: clamp(14px, 1.111vw, 20px)
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}



// global style
.qa-BasicHero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include hero-properties;
    height: 75vh;

    &--filter {
        @include filter-opacity;
    }
    
    &--title {
        position: relative;
        text-align: center;
        width: 70%;
    }
}