@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin line-burger-menu ($width: 100%) {
    position: absolute;
    width: $width;
    height: 4px;
    background-color: $secondary-color;
    border-radius: $br-rad-m;
    transition: transform .4s ease-in-out;
}

@mixin hero-properties {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@mixin card ($width, $border-radius, $bgc) {
    width: $width;
    border-radius: $border-radius;
    background-color: $bgc;
    box-shadow: 0 3px 6px $shadow-color;
}

@mixin form-disposition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin form-field {
    padding: 1em 1.7em;
    border: 1px solid #000;
    border-radius: $br-rad-m;
    margin-top: $my-s;
    outline: none;
    &:focus {
        border-color: $primary-color;
        color: $primary-color;
    }
}

@mixin form-required-field {
    text-align: right;
    font-variation-settings: "wght" 700;
    font-style: italic;
    margin-top: $m-m;
}

@mixin alert-message ($bgc) {
    margin-bottom: $m-m;
    background-color: lighten($bgc, 35%);
    border-radius: $br-rad-m;
    padding: 1em 1.5em;

    &--message {
        color: darken($bgc, 15%);
    }
}

@mixin btn-in-form {
    border: none;
    border-radius: $br-rad-l;
    font-size: clamp(14px, 1.389vw, 25px);
    padding: .7em 2.9em;
    cursor: pointer;
}

@mixin filter-opacity ($color-filter: #000) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-filter;
    opacity: .6;
}