@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin line-burger-menu ($width: 100%) {
    position: absolute;
    width: $width;
    height: 4px;
    background-color: $secondary-color;
    border-radius: $br-rad-m;
    transition: transform .4s ease-in-out;
}

@mixin hero-properties {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@mixin card ($width, $border-radius, $bgc) {
    width: $width;
    border-radius: $border-radius;
    background-color: $bgc;
    box-shadow: 0 3px 6px $shadow-color;
}