// color
$primary-color: #263973;
$secondary-color: #F5FBFF;
$third-color: #17BF71;
$black-color: #131414;
// $white-color: #fbfcfd;

$shadow-color: rgba(38, 57, 115, .35);


// margin
$m-l: 231px;
$m-m: 110px;
$m-s: 100px;
$m-xs: 50px;

    // margin sur l'axe y
$my-l: 70px;
$my-m: 40px;
$my-s: 31px;
$my-xs: 20px;


// border radius
$br-rad-l: 70px;
$br-rad-m: 20px;

// gradient color
$color-gradient-primary: linear-gradient(45deg, $primary-color 0%, $third-color 100%);
$color-gradient-leave : linear-gradient(45deg, rgba(255,0,0,1) 0%, $primary-color 100%);