@font-face {
  font-family: "MateSC";
  src: url("../fonts/MateSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MavenPro";
  src: url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype supports variations"), url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype-variations");
}

.qa-Homepage__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "MateSC";
}

p, a, span, div, button {
  font-family: "MavenPro";
}

h1 {
  font-size: clamp(26px, 4.444vw, 80px);
  color: #F5FBFF;
}

h2 {
  font-size: clamp(24px, 2.778vw, 50px);
  color: #263973;
}

p, a, span, div {
  font-size: clamp(12px, 1.389vw, 25px);
}

button {
  font-size: clamp(14px, 1.111vw, 20px);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  letter-spacing: .1rem;
  background-color: #F5FBFF;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 4.4%;
  background-color: #263973;
  z-index: 100;
}

header .qa-LogoQwatches {
  position: relative;
  width: 104px;
  height: 84px;
  z-index: 100;
}

.qa-Navigation__container .qa-Item__container {
  display: flex;
}

.qa-Navigation__container .qa-Item__container--link {
  display: block;
  position: relative;
  text-align: center;
  color: #F5FBFF;
  font-family: "MateSC";
  font-size: clamp(24px, 1.667vw, 30px);
  white-space: nowrap;
}

.qa-Navigation__container .qa-Item__container--link:not(:last-child) {
  margin-right: 50px;
}

.qa-Navigation__container .qa-Item__container--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F5FBFF;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.qa-Navigation__container .qa-Item__container--link:hover::after {
  transform: scaleX(1);
}

.qa-Navigation__container .qa-Item__container .qa-Link--active.qa-Item__container--link::after {
  transform: scaleX(1);
}

.qa-Navigation__container .qa-BurgerMenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .qa-Navigation__container .qa-Item__container {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #263973;
    z-index: 99;
  }
  .qa-Navigation__container .qa-Item__container--link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3%;
  }
  .qa-Navigation__container .qa-BurgerMenu {
    display: block;
    position: relative;
    width: 42px;
    height: 24px;
    z-index: 100;
    cursor: pointer;
  }
  .qa-Navigation__container .qa-BurgerMenu span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F5FBFF;
    border-radius: 20px;
    transition: transform .4s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
  }
  .qa-Navigation__container .qa-BurgerMenu span::before, .qa-Navigation__container .qa-BurgerMenu span::after {
    content: "";
    left: 50%;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F5FBFF;
    border-radius: 20px;
    transition: transform .4s ease-in-out;
  }
  .qa-Navigation__container .qa-BurgerMenu span::before {
    transform: translate(-50%, -10px) scaleX(0.7);
  }
  .qa-Navigation__container .qa-BurgerMenu span::after {
    transform: translate(-50%, 10px) scaleX(0.7);
  }
  .qa-Navigation__container .qa-BurgerMenu:hover span::before {
    transform: translate(-50%, -10px) scaleX(1);
  }
  .qa-Navigation__container .qa-BurgerMenu:hover span::after {
    transform: translate(-50%, 10px) scaleX(1);
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active span {
    background-color: transparent;
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active span::before {
    transform: translateX(-50%) scaleX(1) rotate(45deg);
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active span::after {
    transform: translateX(-50%) scaleX(1) rotate(-45deg);
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active:hover span::before, .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active:hover span::after {
    transform: translate(-50%, 0);
  }
}

.qa-Btn {
  color: #F5FBFF;
  padding: 1.1rem 1.5rem;
}

.qa-Btn--link {
  background-color: #17BF71;
  border-radius: 70px;
}

@media screen and (max-width: 1100px) {
  .qa-Btn {
    padding: .8rem 1.7rem;
  }
}

.qa-HeroHomepage__container {
  height: 100vh;
  background-image: url("../images/hero_homepage.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.qa-HeroHomepage__container--title {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.qa-Homepage__container {
  flex-direction: column;
}

.qa-Homepage__container h2 {
  margin-top: 231px;
}

.qa-Homepage__container p {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .qa-Homepage__container h2 {
    margin-top: 100px;
  }
  .qa-Homepage__container p {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 67%;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .qa-Homepage__container h2 {
    margin-top: 100px;
  }
  .qa-Homepage__container p {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 86%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */