@font-face {
  font-family: "MateSC";
  src: url("../fonts/MateSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MavenPro";
  src: url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype supports variations"), url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype-variations");
}

.qa-Homepage__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "MateSC";
}

p, a, span, div, button, input, input::placeholder, textarea {
  font-family: "MavenPro";
}

h1 {
  font-size: clamp(26px, 4.444vw, 80px);
  color: #263973;
}

h2 {
  font-size: clamp(24px, 2.778vw, 50px);
  color: #263973;
}

h3 {
  font-size: clamp(18px, 1.944vw, 35px);
  color: #263973;
}

p, a, span, div {
  font-size: clamp(12px, 1.389vw, 25px);
}

input, textarea {
  font-size: clamp(14px, 1.389vw, 25px);
}

button {
  font-size: clamp(14px, 1.111vw, 20px);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.qa-BasicHero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 147px;
  height: calc(75vh - 147px);
}

.qa-BasicHero__container--filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5FBFF;
  opacity: .4;
}

.qa-BasicHero__container--title {
  position: relative;
  text-align: center;
  width: 70%;
}

@media screen and (max-width: 1300px) {
  .qa-BasicHero__container {
    margin-top: 127px;
    height: calc(75vh - 127px);
  }
}

body {
  letter-spacing: .1rem;
  background-color: #F5FBFF;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2.1% 3.5%;
  background-color: #263973;
  margin-top: 231px;
}

footer * {
  color: #F5FBFF;
}

footer .qa-Copyright {
  font-size: clamp(12px, 1.111vw, 20px);
  margin: auto 0;
}

.qa-Network__container {
  display: flex;
}

.qa-Network__container--icon {
  width: 30.5px !important;
  height: 30.5px;
  cursor: pointer;
}

.qa-Network__container--icon:not(:last-child) {
  margin-right: 29.5px;
}

.qa-Network__container--icon * {
  color: #F5FBFF;
}

@media screen and (max-width: 700px) {
  footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  footer .qa-Network__container {
    margin-bottom: 20px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 147px;
  padding: 1.5% 4.4%;
  background-color: #263973;
  z-index: 100;
}

header .qa-LogoQwatches {
  position: relative;
  width: 104px;
  height: 84px;
  z-index: 100;
}

.qa-Navigation__container .qa-Item__container {
  display: flex;
}

.qa-Navigation__container .qa-Item__container--link {
  display: block;
  position: relative;
  text-align: center;
  color: #F5FBFF;
  font-family: "MateSC";
  font-size: clamp(24px, 1.667vw, 30px);
  white-space: nowrap;
}

.qa-Navigation__container .qa-Item__container--link:not(:last-child) {
  margin-right: 50px;
}

.qa-Navigation__container .qa-Item__container--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F5FBFF;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.qa-Navigation__container .qa-Item__container--link:hover::after {
  transform: scaleX(1);
}

.qa-Navigation__container .qa-Item__container .qa-Link--active.qa-Item__container--link::after {
  transform: scaleX(1);
}

.qa-Navigation__container .qa-BurgerMenu {
  display: none;
}

@media screen and (max-width: 1300px) {
  header {
    height: 127px;
  }
}

@media screen and (max-width: 960px) {
  .qa-Navigation__container .qa-Item__container {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #263973;
    z-index: 99;
  }
  .qa-Navigation__container .qa-Item__container--link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3%;
  }
  .qa-Navigation__container .qa-BurgerMenu {
    display: block;
    position: relative;
    width: 42px;
    height: 24px;
    z-index: 100;
    cursor: pointer;
  }
  .qa-Navigation__container .qa-BurgerMenu span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F5FBFF;
    border-radius: 20px;
    transition: transform .4s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
  }
  .qa-Navigation__container .qa-BurgerMenu span::before, .qa-Navigation__container .qa-BurgerMenu span::after {
    content: "";
    left: 50%;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F5FBFF;
    border-radius: 20px;
    transition: transform .4s ease-in-out;
  }
  .qa-Navigation__container .qa-BurgerMenu span::before {
    transform: translate(-50%, -10px) scaleX(0.7);
  }
  .qa-Navigation__container .qa-BurgerMenu span::after {
    transform: translate(-50%, 10px) scaleX(0.7);
  }
  .qa-Navigation__container .qa-BurgerMenu:hover span::before {
    transform: translate(-50%, -10px) scaleX(1);
  }
  .qa-Navigation__container .qa-BurgerMenu:hover span::after {
    transform: translate(-50%, 10px) scaleX(1);
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active span {
    background-color: transparent;
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active span::before {
    transform: translateX(-50%) scaleX(1) rotate(45deg);
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active span::after {
    transform: translateX(-50%) scaleX(1) rotate(-45deg);
  }
  .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active:hover span::before, .qa-Navigation__container .qa-BurgerMenu.qa-BurgerMenu--active:hover span::after {
    transform: translate(-50%, 0);
  }
}

.qa-Btn {
  color: #F5FBFF;
  padding: 1.1rem 1.5rem;
}

.qa-Btn--third {
  background-color: #17BF71;
  border: 2px solid #17BF71;
  border-radius: 70px;
  font-size: clamp(12px, 1.389vw, 25px);
  cursor: pointer;
}

.qa-Btn--third:hover {
  background-color: transparent;
  color: #17BF71;
}

.qa-Btn--link {
  background-color: #17BF71;
  border: 2px solid #17BF71;
  border-radius: 70px;
  transition: all 0.3s ease-in-out;
}

.qa-Btn--link:hover {
  background-color: #F5FBFF;
  color: #17BF71;
  border-color: #17BF71;
}

.qa-Btn--search {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.qa-Btn--search .qa-SearchBar__container--icon {
  width: clamp(25px, 2.611vw, 47px);
  height: clamp(25px, 2.611vw, 47px);
}

.qa-Btn--search .qa-SearchBar__container--icon * {
  color: #F5FBFF;
}

.qa-Btn--uploadFile {
  background-color: #263973;
  border: 2px solid #263973;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.qa-Btn--uploadFile:hover {
  background-color: #F5FBFF;
  color: #263973;
}

.qa-Btn--sendForm {
  background: #17BF71;
  background-image: linear-gradient(45deg, #263973 0%, #17BF71 100%);
  border: none;
  border-radius: 70px;
  font-size: clamp(14px, 1.389vw, 25px);
  padding: .7em 2.9em;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.qa-Btn--sendForm:hover {
  box-shadow: 0 0 25px #17BF71;
}

.qa-Btn--leave {
  background: #c70f14;
  background-image: linear-gradient(45deg, #c70f14 0%, #263973 100%);
  border: none;
  border-radius: 70px;
  font-size: clamp(14px, 1.389vw, 25px);
  padding: .7em 2.9em;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.qa-Btn--leave:hover {
  box-shadow: 0 0 25px #c70f14;
}

.qa-Btn--remove {
  background-color: #c70f14;
  border: 2px solid #c70f14;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.qa-Btn--remove:hover {
  border-color: #F5FBFF;
}

@media screen and (max-width: 1100px) {
  .qa-Btn {
    padding: .8rem 1.7rem;
  }
}

.qa-Form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 36%;
  margin-top: 110px;
}

.qa-Form__group-block {
  display: inline-block;
  width: auto;
}

.qa-Form__group-block input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.qa-Form__group-L {
  width: 60%;
}

.qa-Form__group--input {
  padding: 1em 1.7em;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 31px;
  outline: none;
}

.qa-Form__group--input:focus {
  border-color: #263973;
  color: #263973;
}

.qa-Form__group--textarea {
  padding: 1em 1.7em;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 31px;
  outline: none;
  resize: none;
}

.qa-Form__group--textarea:focus {
  border-color: #263973;
  color: #263973;
}

@media screen and (max-width: 800px) {
  .qa-Form__group {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .qa-Form__group {
    width: 100%;
    margin-top: 50px;
  }
}

.qa-ConnectionForm__group {
  position: relative;
  width: 47%;
  height: 64px;
  margin-top: 31px;
  margin-right: 6%;
  cursor: text;
}

.qa-ConnectionForm__group:first-child, .qa-ConnectionForm__group:nth-child(2) {
  margin-top: 0;
}

.qa-ConnectionForm__group:nth-child(2n) {
  margin-right: 0;
}

.qa-ConnectionForm__group--input:focus + .qa-ConnectionForm__group--text,
.qa-ConnectionForm__group--input:valid + .qa-ConnectionForm__group--text {
  visibility: hidden;
}

.qa-ConnectionForm__group--input {
  width: 100%;
  height: 100%;
  padding: 1em 1.2em;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 31px;
  outline: none;
  margin-top: 0;
}

.qa-ConnectionForm__group--input:focus {
  border-color: #263973;
  color: #263973;
}

.qa-ConnectionForm__group--input:focus {
  outline: none;
}

.qa-ConnectionForm__group--text {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}

@media screen and (max-width: 700px) {
  .qa-ConnectionForm__group {
    width: 70%;
    height: 41px;
    margin-top: 40px;
    margin-right: 0;
  }
  .qa-ConnectionForm__group:nth-child(2) {
    margin-top: 40px;
  }
  .qa-ConnectionForm__group--text {
    left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .qa-ConnectionForm__group {
    width: 98%;
  }
}

.qa-AlertSuccessMessage__container {
  position: fixed;
  top: calc(147px + 50px);
  left: 50%;
  max-width: 70%;
  background-color: #96f2c8;
  border-radius: 20px;
  padding: 1em 1.5em;
  z-index: 50;
  transform: translateX(-50%);
}

.qa-AlertSuccessMessage__container--close {
  position: absolute;
  top: 0;
  left: 50%;
  padding: .3em .8em;
  font-size: clamp(12px, 1.111vw, 20px);
  background-color: #96f2c8;
  color: #0f7b49;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #0f7b49;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.qa-AlertSuccessMessage__container--close:hover {
  border: 1px solid #0f7b49;
}

.qa-AlertSuccessMessage__container--message {
  color: #0f7b49;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .qa-AlertSuccessMessage__container {
    margin-bottom: 50px;
  }
}

.qa-AlertErrorMessage__container {
  position: fixed;
  top: calc(147px + 50px);
  left: 50%;
  max-width: 70%;
  background-color: #ffb3b3;
  border-radius: 20px;
  padding: 1em 1.5em;
  z-index: 50;
  transform: translateX(-50%);
}

.qa-AlertErrorMessage__container--close {
  position: absolute;
  top: 0;
  left: 50%;
  padding: .3em .8em;
  font-size: clamp(12px, 1.111vw, 20px);
  background-color: #ffb3b3;
  color: #b30000;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #b30000;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.qa-AlertErrorMessage__container--close:hover {
  border: 1px solid #b30000;
}

.qa-AlertErrorMessage__container--message {
  color: #b30000;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .qa-AlertErrorMessage__container {
    margin-bottom: 50px;
  }
}

.qa-Connection__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 3%;
}

.qa-Connection__container--logo {
  width: 161px;
  height: 131px;
  margin-bottom: 3%;
}

.qa-CardConnection__container {
  display: flex;
  width: 55%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
}

.qa-CardConnection__container--active {
  width: calc(63% - .5px);
}

.qa-CardConnection__container--block {
  width: calc(37% - .5px);
  padding: 3.8% 6%;
}

.qa-CardConnection__container--separator {
  width: 1px;
  height: auto;
  background-color: #131414;
}

.qa-CardConnection__container {
  display: flex;
  width: 55%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
}

.qa-CardConnection__container--separator {
  width: 1px;
  height: auto;
  background-color: #131414;
}

.qa-CardConnection__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(37% - .5px);
  padding: 3.8% 6%;
}

.qa-CardConnection__block--active {
  width: calc(63% - .5px);
}

.qa-ConnectionForm__container {
  width: 100%;
}

.qa-ConnectionForm__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8%;
  margin-bottom: 11%;
}

.qa-Connection__submitForm {
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .qa-CardConnection__container {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .qa-CardConnection__container {
    flex-direction: column;
  }
  .qa-CardConnection__container--separator {
    height: 1px;
    width: 100%;
  }
  .qa-CardConnection__block {
    width: 100%;
    padding: 7.2%;
  }
  .qa-CardConnection__block--active {
    width: 100%;
  }
  .qa-ConnectionForm__body {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .qa-Connection__container {
    padding-top: 7%;
  }
  .qa-Connection__container--logo {
    width: 80.5px;
    height: 65.4px;
    margin-bottom: 12%;
  }
  .qa-CardConnection__block {
    padding: 13.4%;
  }
}

@media screen and (max-width: 400px) {
  .qa-Connection__container {
    padding-top: 13.5%;
  }
}

.qa-HeroHomepage__container {
  margin-top: 147px;
  height: calc(100vh - 147px);
  background-image: url("../images/hero_homepage.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.qa-HeroHomepage__container--title {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.qa-Homepage__container {
  flex-direction: column;
}

.qa-Homepage__container h2 {
  margin-top: 231px;
}

.qa-Homepage__container p {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .qa-HeroHomepage__container {
    margin-top: 127px;
    height: calc(100vh - 127px);
  }
}

@media screen and (max-width: 1100px) {
  .qa-Homepage__container h2 {
    margin-top: 100px;
  }
  .qa-Homepage__container p {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 67%;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .qa-Homepage__container h2 {
    margin-top: 100px;
  }
  .qa-Homepage__container p {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 86%;
    text-align: center;
  }
}

.qa-BasicHero__container--seeWatchesBgi {
  background-image: url("../images/hero_voirMontres.jpg");
}

.qa-SeeWatches__container {
  margin: 231px 100px 0;
}

.qa-SearchBar__container {
  display: flex;
  align-items: center;
  width: max-content;
  padding: .8% 4.9%;
  background-color: #263973;
  border-radius: 70px;
}

.qa-SearchBar__container--input {
  width: clamp(155px, 21.556vw, 388px);
  margin-right: 4%;
  border: none;
  border-bottom: 1px solid #F5FBFF;
  color: #F5FBFF;
  background-color: #263973;
  font-size: clamp(14px, 1.944vw, 35px);
  outline: #F5FBFF;
}

.qa-SearchBar__container--input::placeholder {
  color: #F5FBFF;
}

.qa-AllWatches__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.qa-AllWatches__container .qa-CardWatch__container {
  width: 20.5%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
  margin-top: 100px;
  cursor: pointer;
}

.qa-AllWatches__container .qa-CardWatch__container:nth-child(1) {
  margin-top: 0;
}

.qa-AllWatches__container .qa-CardWatch__container:nth-child(2) {
  margin-top: 0;
}

.qa-AllWatches__container .qa-CardWatch__container:nth-child(3) {
  margin-top: 0;
}

.qa-AllWatches__container .qa-CardWatch__container:nth-child(4) {
  margin-top: 0;
}

.qa-AllWatches__container .qa-CardWatch__container:not(:nth-child(4n)) {
  margin-right: 6%;
}

.qa-AllWatches__container .qa-CardWatch__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 203px;
}

.qa-AllWatches__container .qa-CardWatch__image--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.qa-AllWatches__container .qa-CardWatch__body {
  padding: 16px;
}

.qa-AllWatches__container .qa-CardWatch__body--model {
  font-family: "MateSC";
  font-size: clamp(18px, 1.222vw, 22px);
  margin-bottom: 0.75em;
}

.qa-AllWatches__container .qa-CardWatch__body--mark {
  font-size: clamp(14px, 0.944vw, 17px);
}

@media screen and (max-width: 1300px) {
  .qa-AllWatches__container .qa-CardWatch__container {
    width: 30%;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(3n) {
    margin-right: 0;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(4) {
    margin-top: 100px;
  }
  .qa-AllWatches__container .qa-CardWatch__container:not(:nth-child(3n)) {
    margin-right: 5%;
  }
}

@media screen and (max-width: 950px) {
  .qa-AllWatches__container .qa-CardWatch__container {
    width: 47.5%;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(2n) {
    margin-right: 0;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(3) {
    margin-top: 100px;
  }
  .qa-AllWatches__container .qa-CardWatch__container:not(:nth-child(2n)) {
    margin-right: 5%;
  }
}

@media screen and (max-width: 700px) {
  .qa-SeeWatches__container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 650px) {
  .qa-SeeWatches__container {
    margin-left: 31px;
    margin-right: 31px;
  }
  .qa-AllWatches__container {
    margin-top: 50px;
  }
  .qa-AllWatches__container .qa-CardWatch__container {
    width: 100%;
    margin-right: 0;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(1) {
    margin-top: 50px;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(2) {
    margin-top: 50px;
  }
  .qa-AllWatches__container .qa-CardWatch__container:nth-child(2n+1) {
    margin-right: 0;
  }
}

.qa-WatchInformation__container {
  margin: 231px 110px;
}

.qa-WatchDetail__container {
  display: flex;
  justify-content: space-between;
}

.qa-WatchDetail__container--image {
  width: 36%;
  height: 514px;
  margin-right: 6.5%;
  object-fit: cover;
  border-radius: 70px;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
}

.qa-WatchFeature__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.qa-WatchFeature__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 27%;
  margin-bottom: 110px;
}

.qa-WatchFeature__group:nth-child(4) {
  margin-bottom: 0;
}

.qa-WatchFeature__group:nth-child(5) {
  margin-bottom: 0;
}

.qa-WatchFeature__group:nth-child(6) {
  margin-bottom: 0;
}

.qa-WatchFeature__group--name {
  font-size: clamp(14px, 1.389vw, 25px);
  font-variation-settings: "wght" 700;
  margin-bottom: 1.2em;
}

.qa-WatchFeature__group--text {
  font-size: clamp(12px, 1.222vw, 22px);
}

.qa-CardDescription__container {
  width: 100%;
  border-radius: 70px;
  background-color: #F5FBFF;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
  margin-top: 110px;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
}

.qa-CardDescription__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 1.5% 3.5%;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
}

.qa-CardDescription__header--model {
  color: #263973;
}

.qa-CardDescription__body {
  padding: 0 3.5% 1.5%;
}

.qa-CardDescription__body--description {
  width: 82.5%;
  text-align: center;
  margin: 110px auto;
}

@media screen and (max-width: 1300px) {
  .qa-WatchDetail__container--image {
    height: 390px;
  }
}

@media screen and (max-width: 1060px) {
  .qa-WatchDetail__container--image {
    height: 330px;
  }
  .qa-CardDescription__header {
    padding: 3.5%;
  }
}

@media screen and (max-width: 850px) {
  .qa-WatchDetail__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .qa-WatchDetail__container--image {
    width: 70%;
    height: auto;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .qa-WatchFeature__group {
    margin-bottom: 31px;
  }
  .qa-CardDescription__header {
    padding: 5%;
  }
  .qa-CardDescription__body {
    padding: 0 4.4% 10.5%;
  }
  .qa-CardDescription__body--description {
    margin: 31px auto;
  }
}

@media screen and (max-width: 650px) {
  .qa-WatchInformation__container {
    margin: 100px 40px;
  }
  .qa-WatchDetail__container--image {
    width: 100%;
    height: 227px;
  }
  .qa-CardDescription__container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 410px) {
  .qa-WatchFeature__group {
    width: 48%;
  }
}

.qa-BasicHero__container--addWatchBgi {
  background-image: url("../images/hero_ajouterMontre.jpg");
}

.qa-AddWatch__container {
  margin: 231px 15.6% 0;
}

.qa-AddWatch__container--subTitle {
  text-align: center;
}

.qa-NewWatch__container {
  margin-top: 110px;
}

.qa-NewWatch__container--requiredField {
  text-align: right;
  font-variation-settings: "wght" 700;
  font-style: italic;
  margin-top: 110px;
}

.qa-NewWatch__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qa-NewWatch__group .qa-Form__group:nth-child(1) {
  margin-top: 0;
}

.qa-NewWatch__group .qa-Form__group:nth-child(2) {
  margin-top: 0;
}

.qa-NewWatch__submitForm {
  margin-top: 110px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .qa-AddWatch__container {
    margin-top: 100px;
  }
  .qa-NewWatch__container {
    margin-top: 50px;
  }
  .qa-NewWatch__group .qa-Form__group:nth-child(2) {
    margin-top: 50px;
  }
  .qa-NewWatch__submitForm {
    margin-top: 50px;
  }
}

.qa-BasicHero__container--accountBgi {
  background-image: url("../images/hero_monCompte.jpg");
}

.qa-Account__container {
  margin: 231px 15.6% 0;
}

.qa-Account__container--subTitle {
  text-align: center;
}

.qa-AccountForm__container {
  margin-top: 110px;
}

.qa-AccountForm__container--requiredField {
  text-align: right;
  font-variation-settings: "wght" 700;
  font-style: italic;
  margin-top: 110px;
}

.qa-AccountForm__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qa-AccountForm__group .qa-Form__group:nth-child(1) {
  margin-top: 0;
}

.qa-AccountForm__group .qa-Form__group:nth-child(2) {
  margin-top: 0;
}

.qa-AccountForm__buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.qa-AccountForm__buttonGroup--btn:not(:last-child) {
  margin-right: 10%;
}

.qa-ListMyWatches__container {
  margin-top: 110px;
}

.qa-ListMyWatches__header {
  display: flex;
  justify-content: space-between;
  background-color: #263973;
  color: #F5FBFF;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(38, 57, 115, 0.35);
  padding: 1em 1.6em;
}

.qa-ListMyWatches__header--display {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.qa-ListMyWatches__header--display:hover {
  transform: rotate(1turn);
}

.qa-ListMyWatches__item {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background-color: #263973;
  border-radius: 20px;
}

.qa-ListMyWatches__item--image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.qa-ListMyWatches__item--btn {
  margin-left: auto;
  margin-right: 2em;
}

.qa-ListMyWatches__content {
  margin-left: 2em;
  color: #F5FBFF;
}

@media screen and (max-width: 700px) {
  .qa-Account__container {
    margin-top: 100px;
  }
  .qa-AccountForm__container {
    margin-top: 50px;
  }
  .qa-AccountForm__group .qa-Form__group:nth-child(2) {
    margin-top: 50px;
  }
  .qa-AccountForm__buttonGroup {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .qa-AccountForm__buttonGroup {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .qa-AccountForm__buttonGroup--btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2em;
  }
}
/*# sourceMappingURL=style.css.map */